
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Native</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/brands.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/solid.min.css' %}">
</head>
<body>
    <nav class="navbar-expand-lg fixed-top">
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fas fa-edit"></i></a>
                <a href="{% url 'post_new' %}" class="top-menu"> <i class="fas fa-plus-square"></i> </a>
            {% endif %}
                <h1><a class="navbar-brand" href="/">Native Blog</a></h1>
        </div>  
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="content">
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>           
        </div>
    </div>
<hr>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>