<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Niko Busy</title>
</head>
<body>
    <div>
        <h1><a href="/">Niko Busy Blog</a></h1>
    </div>
    {% for post in posts %}
    <div>
        <p>published: {{post.published_date}} </p>
        <h2><a href=""> {{post.title}} </a></h2>
        <p> {{post.text|linebreaksbr}} </p>
    </div>
    {% endfor %}
</body>
</html>